<div class="container">

    <h4 class="display-4 mt-5 text-center">Abhinav Mishra</h4>
    <hr class="mb-5 w-25 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <b>EDUCATION</b><br>
                <b>Madan Mohan Malaviya University of Technology Gorakhpur</b><br>
                • Bachelor of Technology in Electronics and Communication Engineering<br>
                • Current CGPA: 7.92/10<br>
                • Expected year of passing: 2021<br>
                <b>Bishop George School and College Prayagraj</b><br>
                • Aggregate Percentage: 92.6 % (Physics: 92, Chemistry: 92, Maths: 90)<br>
                • ISC Board<br><br>
            <b>SKILLS</b><br>

            • Coursework: Data Structures, Algorithms, Object Oriented Programming, Database Management System<br>
            • Programming languages: C, C++, Java<br>
            • Web technologies: Java Servlets, Java Server Pages<br>
            • Database tools: JDBC, MySQL<br>
            • Development tools: Code::Blocks, Eclipse, Spring Tool Suite, Maven, Java Spring Framework<br><br>
            <b>CERTIFICATIONS</b><br>
            • Algorithmic Toolbox [University of California San Diego]<br>
            • Java Programming: Solving Problems with Software [Duke University]<br>
            • Certified in Problem Solving and Java [HackerRank]<br>
            <br><br>
            
        </div>
        <div class="col-lg-6 col-sm-12 mb-5">
            <b>PROJECTS</b><br>
            <b>THE BUGTRACKER</b><br>
            JAVA,SERVLETS,JSP,JDBC,MYSQL<br>
            • Developed an MVC pattern dynamic web application to track software bugs during software development
            life cycle<br>
            • Implementation of Servlets and JSP to provide response to client requests at runtime<br>  
            • Incorporated authentication using secure login and session management using cookies<br>
            • github.com/Abhinav-ec-mmmut/The-Bugtacker<br>
            <b>FETCHER</b><br>
            JAVA,JERSEY,JDBC,MYSQL<br>
            • Developed a RESTful API that supports fetching and presenting resource in a variety of representation
            media types<br>
            • Supports GET, PUSH, PUT and DELETE requests from a remote client
            • github.com/Abhinav-ec-mmmut/Fetcher-project<br>
            <b>SORTING VISUALISER</b><br>
            JAVA,SWING,AWT<br>
            • Developed a standalone GUI application for a better understanding of sorting algorithms<br>
            • Implemented 2D graphics for visualising various sorting techniques and compared their runtime<br>
            • github.com/Abhinav-ec-mmmut/Sorting-Visualiser<br>


        </div>
    </div><br><br>






</div>

<p>
    Browser Compatibility<br>
    This website has been tested in the following browsers:<br>

    Internet Explorer 8<br>
    FireFox 3<br>
    Google Chrome 13<br>

</p>
<p>
    Copyright © Abhinav | HTML5 | CSS | Java | Angular Website
</p>